h1 {
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    font-size: 14pt;
    color: red;
}

section {
    width: 400px;
    background: rgb(192, 221, 224);
}

section.Lower-bounds {
    margin-right: 10px;
    font-size: 12pt;
}

section.Lower-bounds div {
    box-sizing: content-box;
    width: 180px;
    padding: 5px;
    margin: 10px;
    background: white;
}

section.Histogram {
    margin-left: 10px;
    font-size: 6pt;
}